doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/") Home &nbsp;
    a(href="/user") Add/Edit User &nbsp;
    a(href="/users") Users &nbsp;
    block content